.container {
    padding: 6rem 30rem;
    background-color: var(--black);
}

.clientContainer {
    margin: auto;
    width: 100%;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
    padding: 2rem;
    margin: 0 2rem;
}
